* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import "./variables";
@import "./button-styles";
@import "./site-nav";
@import "./top-banner";

body {
    font-family: 'Open Sans', sans-serif;
    background: #dcdcdc;
}

