.navbar {
    padding: 10px 10%;
    background: transparent;
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
}

// .nav-display img {
//     margin-right: 23em;
// }

.nav-link {
    font-weight: bold;
}

.navbar-nav {
    margin-left: 15em;
}